:root{
  --white : rgb(255, 255, 255);
  --red : rgb(255, 0, 0);
  --black: rgb(0, 0, 0);
}

#navbarNav{
  justify-content: center;
  font-style: normal !important;
  font-weight: 600 !important;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  }
.nav-link{
  color: var(--white) !important;
}
.nav-link:hover{
  color: var(--red) !important;
}
.btn{
  background: #cc1702;
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.3s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 12px 4px 20px 1px #0807077e;
    border-radius: 10px;
    width: 7rem;
    padding: 0.6rem 0rem ;
    border-radius: 3px;
    border: none !important;
    font-size: 0.7rem;
    font-weight: bold;
}
.btn:hover{
  background: #ff2b13 !important;
}
.dropdown-item:hover {
  background: var(--black) !important;
  color: var(--red) !important;
}
.navbar-toggler{
  background-color: var(--red) !important;
}

/* -------------------SearcBar---------------- */
.searchbar{
  background-color: var(--black) !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
  height: 6rem;

}
.inputC{
  border-radius: 2px !important;
  text-align: center !important;
  margin: 1rem 0.2rem;
  width: 33rem;
  z-index: 5;
  position: relative;
}
.inputC:hover{
  background: var(--black) !important;
  color: var(--red) !important;
}
.inputC option::backdrop:hover{
  background: var(--red) !important;
  color: var(--white) !important;
}
/* Category */

h3{
  color: var(--white) !important;
}
.card span{
  height: 5rem;
  width: 5rem;
}
.icon{
  color: var(--white);
}
.card{
  width:10rem;
  height: 13rem !important;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.404), transparent) !important;
  box-shadow: rgba(0, 0, 0, 0.35) 10px 8px 15px;
  transition: 0.2s;
}
.card:hover,:focus{
  transform: scale(1.1);
  box-shadow:none;
  cursor: pointer;
}
.CardBox{
  margin-top: 8rem !important;

}
.card div{
  color: var(--white);
  font-weight: bold;
}
.col {
  flex: 0 0 0% !important;
}

/*----------- Listening */
.Lcard{
  height: auto !important;
  padding: 1rem;
}
.Lcard img{
  border-radius: 1rem !important;
}
.L_Glass {
  border-radius: 0.5rem;
  width: auto;
  height: auto !important;
  padding: 5rem 6rem !important;
  background-color: rgba(255, 255, 255, 0.1); /* Semi-transparent white background */
  backdrop-filter: blur(10px); /* Blur effect for the glass-like appearance */
  box-shadow: inset 0 0 30px 5px rgba(255, 255, 255, 0.103);
  border: 1px solid rgba(255, 255, 255, 0.18); /* Optional border for more definition */
}
.Lcard p{
  font-size: 70% !important;
}
.ads-grid{
  display: flex;
  justify-content: center;
}

/* Footer */
.footer{
  color: var(--white) !important;
  padding: 1rem 9rem !important;
  margin-bottom: 2rem;
}
.footer p {
  font-size: 0.7rem;
  cursor: pointer !important;
}
.footer span {
  font-size: 0.7rem;
  cursor: pointer !important;
}
.colF {
  flex: 1 0 0% !important;
}
.footer col{
  padding: 0rem 1rem !important;
}
.F_C span{
  margin-left: 1rem;
  cursor: pointer !important;
}
.F_icon{
  margin-right: 1rem;
  cursor: pointer !important;
}
.F_end{
  color: var(--white) !important;
  background: linear-gradient(0deg, rgb(194, 0, 0) -65%, black);
  text-align: center;
  letter-spacing: 3px;
  font-display: normal;
  margin-bottom: -1rem !important;
  padding: 1rem 1rem !important;
}
.F_end span{
  color: var(--white);
  font-weight: bold !important;
  cursor: pointer !important;
}

/*----------------- ABOUT */
.c-shape {
  width: 200px;
  height: 200px;
  border: 1.3rem solid var(--red); /* Adjust thickness and color as needed */
  border-left-color: transparent; /* Hide left border */
  transform: rotate(180deg); /* Adjust rotation for the desired angle */
}
.about{
  margin: 0px !important;
}
.about col {
  margin: 0px !important;
}

/* Contact */
.Ccard{
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.404), transparent) !important;
  box-shadow: rgba(0, 0, 0, 0.35) 10px 8px 15px;
  transition: 0.2s;
}
.Ccard:hover,:focus{
  transform: scale(1.1);
  box-shadow:none;
  cursor: pointer;
}
.Ccard span{
  height: 3rem;
  width: 3rem;
  border-radius: 10px;
  margin: 5px 5px;
}
.Con_glass{
  border-radius: 0.5rem;
  width: auto;
  height: auto !important;
  padding: 1rem auto !important;
  background-color: rgba(255, 145, 0, 0.1); /* Semi-transparent white background */
  backdrop-filter: blur(10px); /* Blur effect for the glass-like appearance */
  box-shadow: inset 0 0 30px 5px rgba(255, 255, 255, 0.103);
  border: 1px solid rgba(255, 255, 255, 0.18); /* Optional border for more definition */
  margin: 1rem 0rem;
}
.label{
  background-color: var(--red) !important;
  color: var(--white) !important;
  border: var(--black) !important;
}
  .form-control{
    border-radius: 3px !important;
  }


.form-control:focus,
  .form-control:hover {
    outline: none !important;
    transition: none;
    transform: none;
  }

  /* LOgin Form */
  .backG {
    background-image: url("/public/assests/Images/BacImg.jpg"); /* Adjusted path to match your actual file structure */
    background-size: cover; /* Ensures the background image covers the entire background */
    background-position: center; /* Centers the background image within the container */
    background-repeat: no-repeat; /* Prevents the background image from repeating */
}
.loginGlass{
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.404), transparent) !important;
  box-shadow: rgba(0, 0, 0, 0.35) 10px 8px 15px;
  margin-bottom: 3rem;
  padding: 3rem 5rem !important;
}